
.course-landing {
    min-height: 80vh;
    .course-body {
        margin: 0 15px;
    }

    @media screen and (min-width: 992px) {
        .course-body {
            width: 66%;
            margin: 0 15px;
        }
    }   
    
}