
.course-landing {
    .course-body {
        margin: 0 0.7em;
    }

    @media screen and (min-width: 992px) {
        .course-body {
            width: 66%;
            margin: -25em 0.7em 0;
        }
    }   
    
}