$clr__primary : #3a0ca3;

.hero-container{
    background-color: rgb(155, 155, 155);
}

.hero {
    font-size: 0.8em;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 200px 15px 70px;
    box-sizing: border-box;

    &__text {
        font-size: 1.3em;
        color: rgb(255, 255, 255);
        margin: 0 0 8px;
    }

    &__title {
        font-size: 2.1em;
        color: rgb(255, 255, 255);
        margin: 0 0 30px;
        line-height: 1.3em;
    }

    &__btn {
        font-size: 1.3em;
        height: 50px;
        width: 140px;
        border: 2px solid white;
        border-radius: 3px;
        color: white; 
        font-weight: bold;
        padding: 10px;
        margin: 7px 7px 0 0;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;

        &:hover {
            background-color: white;
            color: $clr__primary;
        }

        &--active {
            width: 180px;
            color: $clr__primary;
            background-color: white;

            &:hover {
                background-color: $clr__primary;
                color: white;
                border-color: $clr__primary;
            }
        }
    }

    @media screen and (min-width: 576px) {
        font-size: 0.9em;
    }

    @media screen and (min-width: 768px) {
        font-size: 1em;

        &__title {
            width: 70%;
        }
        &__text {
            width: 70%;
        }
    }
}