$clr__primary : #3a0ca3;

.cart {
    font-size: 1em;
    padding: 15px;

    &__checkout-group {

        .cart-checkout {
            &__title {
                margin: 18px 0 5px;
            }
        
            &__price {
                font-size: 1.8em;
                font-weight: bold;
                margin: 0 0 15px;
            }
        } 
    }

    &__head {
        margin-top: 25px;
        padding: 0 0 10px;
        border-bottom: 1px solid rgba($color: rgb(194, 194, 194), $alpha: 1.0);
    }

    &__items--later {
        margin: 40px 0 0;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

        &__checkout-group {
            font-size: 1.1em;
            order: 2;
            width: 30%;
        }

        &__items {
            font-size: 1.2em;
            order: 1;
            width: 65%;
            margin: 0;
        }
    }
}