$clr__primary : #3a0ca3;

.course-head {
    font-size: 1em;

    .head {
        &__video {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 11.45em;
            min-height: 160px;
            background-color: black;
            box-sizing: border-box;
        }

        &__course-info {
            padding: 0.8em;
        }

        &__price-card {
            padding: 0.2em 0.6em;
        }
    }

    .course {
        &__short-description {
            margin: 0.4em 0 1em;
            letter-spacing: 1;
            word-spacing: 0.15em;
            line-height: 1.2em;
        }

        &__tag {
            margin: 0.6em;
        }

        &__sticky-card {
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0 !important;
            background-color: rgba($color: #ffffff, $alpha: 1.0);
            padding: 0.6em 1em;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 -2px 8px rgba($color: rgb(204, 204, 204), $alpha: 1.0);
            z-index: 5;
        }

        &__price {
            font-size: 1.6em;
            width: 30%;
            margin: 0;
        }

        &__btn--active{
            width: 65%;
        }

        &__includes-title {
            font-weight: bold;
            margin: 1em 0 1em;
        }

        &__includes-text {
            margin: 0.4em 0.6em;
            letter-spacing: 1;
            word-spacing: 0.15em;
            line-height: 1.5em;
        }
    }

    @media screen and (min-width: 768px) {
        font-size: 1.05em;
    }

    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        justify-content: space-between;
        box-sizing: border-box;
    
        .head {
            &__background {
                grid-area: 1/1/2/3;
                background-color: rgb(0, 0, 0);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 13.5em;
                min-height: 190px;
                z-index: -1;

                &::before {
                    content: ' ';
                    display: block;
                    width: 100%;
                    height: 13.5em;
                    background-color: rgba(0, 0, 0, 0.9);
                }
            }
            
            &__video {
                grid-area: 1/2/2/3;
                background-color: black;
                margin: auto auto;
                width: 80%;
                border: 2px solid rgb(255, 255, 255);
                border-radius: 8px 8px 0 0;
                box-shadow: 0px 3px 5px rgb(165, 165, 165);
                box-sizing: border-box;
            }
    
            &__course-info {
                grid-area: 1/1/2/2;
                margin: 1em 0 auto;
                color: white;
            }
    
            &__price-card {
                grid-area: 2/2/3/3;
                margin: -1em auto 0;
                padding: 0.2em 1.8em 0.8em;
                width: 80%;
                height: fit-content;
                box-sizing: border-box;
                background-color: rgba($color: #fff, $alpha: 1.0);
                border: 1px solid rgb(255, 255, 255);
                border-radius: 0 0 8px 8px;
                box-shadow: 0px 3px 5px rgb(165, 165, 165);
                z-index: 5;
            }
        }
    
        .course {
            &__tag-group {
                display: flex;
            }

            &__tag {
                background-color: rgba(82, 82, 82, 0.384);
                border: 2px solid rgb(116, 116, 116);
                border-radius: 5px;
                padding: 0.6em 0.7em 0.4em;
                cursor: default;
            }
    
            &__sticky-card {
                position: relative;
                width: 100%;
                padding: 0;
                margin: 0.6em 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                box-shadow: 0 0 0;
            }
    
            &__btn {
                width: 100%;
            }
    
            &__price {
                width: 100%;
                margin: 0.4em 0;
            }
        }
    }
}