$clr__primary : #3a0ca3;

.hover-card {
    width: 300px;
    margin: auto auto;
    padding-top: 10px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    z-index: 50;

    &__content {
        margin: 0 7px 0;
        overflow: auto;
        max-height: 50vh;

        scrollbar-color: rgb(224, 224, 224) transparent; /* firefox */ 
        scrollbar-width: thin; /* firefox */ 
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(224, 224, 224);
            border-radius: 5px;

            &:hover, &:active {
                background-color: rgb(197, 197, 197);
            }
        } 
    }
    
    &__sticky {
        font-size: 0.9em;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 1.0);
        padding: 8px;
        align-items: center;
        box-sizing: border-box;
    }
}