$clr__primary : #3a0ca3;

.checkout {    
    font-size: 1em;
    padding: 15px;
    box-sizing: border-box;

    &__title {
        margin: 20px 0 10px;
    }

    &-bill {
        &__row {
            display: flex;
            justify-content: space-between;
            padding: 12px 5px;
            text-align: center;
        }

        &__total {
            font-size: 1.2em;
            border-top: 1px solid rgb(194, 194, 194);
            border-top-style: dashed;
        }

        &__sticky {
            display: flex;
            justify-content: space-between;
            left: 0;
            padding: 9px 15px;
            box-sizing: border-box;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: rgb(255, 255, 255);
            border-top: 1px solid rgb(194, 194, 194);

            &-total {
                width: 30%;
            }
        }
    }
    
    &__bill {
        margin: 18px 0 20px;
        
        .total--amount {
            font-weight: bold;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        position: relative;

        &-content {
            width: 65%;
        }

        &__title {
            margin: 8px 0;
        }

        &__bill {
            font-size: 1.1em;
            padding: 12px;
            margin-right: 18px;
            box-sizing: border-box;
            width: 30%;
            position: fixed;
            right: 0;
            top: 90px;
            border: 1px solid rgb(194, 194, 194);
            background-color: rgb(255, 255, 255);
            border-radius: 5px;

            .checkout-bill {
                &__sticky {
                    margin: 0;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0);
                    border-top: 0px;
        
                    &-total {
                        display: none;
                    }
                }
            } 
        }
    }
}