.input {
    &-text__count {
        font-size: 0.9em;
        margin: auto 0 auto auto;
        color: rgb(134, 134, 134);
    }

    &-password__show-pass {
        font-size: 1.2em;
        position: absolute;
        right: 10.5%;
        margin-top: 14px;
        background-color: rgb(255, 255, 255);
        width: 35px;
        height: 35px;
        padding: 8px;
        border-radius: 0 5px 5px 0;
        box-sizing: border-box;
    }
}

