.auth {
    &__show-pass {
        font-size: 1.2em;
        position: absolute;
        right: 10.5%;
        margin-top: 0.6em;
        background-color: rgb(255, 255, 255);
        width: 2em;
        height: 2em;
        padding: 0.5em;
        border-radius: 0 5px 5px 0;
        box-sizing: border-box;
    }
}

