

.cart-hover-card {
    display: flex;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 5px 0;
    justify-content: space-between;
    cursor: pointer;

    &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 35%;
        height: auto;
    }

    &__title {
        font-size: 0.8em;
        color: black;
        text-align: left;
        width: 63% !important;
        line-height: 1.1em;
        max-height: 3.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-left: 3px;
        margin-top: 1.5px;
    }
}