$clr__primary : #3a0ca3;

.create-course {
    &__container {
        box-sizing: border-box;
  
        .form__steps-progress {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 30px auto;
        }
    }

    &__txt {
        font-size: 1em;
        color: $clr__primary;
    }

    &__btn {
        &-group {
            display: flex;
            justify-content: flex-end;
            margin: 40px 0;
            border-top: 1px solid black;
            padding-top: 15px;
        }

        width: 100px;
        margin: auto 3px;
        &--continue {
            width: 160px;
        }
    }

    &__form {
        .form__steps {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-flow: row;
            flex-wrap: wrap;
            .form {
                &__input {
                    &-group {
                        font-size: 1em;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        flex-flow: row;
                        flex-wrap: wrap;
                        margin: 5px 0;
                    }

                    margin: 5px 0;
                    width: 100%;
                    &--txt-area {
                        resize: none;
                        height: 100px;
                    }
                }

                &__module {
                    width: 100%;
                    &-group {
                        margin: 10px 0;
                        border: 1px solid rgb(184, 184, 184);
                        border-radius: 5px;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                    &-add-btn {
                        width: 50%;
                        margin: 25px auto 0;
                    }
                    &-dlt-btn {
                        float: right;
                    }
                }

                &-module {
                    &__chapter {
                        align-items: center;
                        display: grid;
                        grid-template-columns: 2fr 12fr 1fr ;
                        width: 100%;

                        &-add-btn {
                            width: 160px;
                            min-width: 80px;
                            margin: 25px 0 0 auto;
                        }
                    }
                }
            }

            .dlt-btn {
                font-size: 1.2em;
                display: block;
                color: $clr__primary;
                padding: 5px;
                border: 1px solid $clr__primary;
                border-radius: 5px;
                margin: 0 0 0 auto;                
            }
        }
    }
}