$clr__primary : #3a0ca3;

.footer {
    font-size: 1.15em;
    background-color: rgb(0, 0, 0);

    &__main {
        font-size: 0.9em;
        color: rgb(155, 155, 155);
        padding: 1em ;
        font-weight: lighter;
        letter-spacing: 3;
        line-height: 1.5em;
    }

    &__brand {
        margin: 1em 0 3em;

        .brand {
            &__logo {
                font-size: 1.3em;
                color: white;

                span {
                    color: $clr__primary;
                }
            }
        }

        .social__icon {
            margin: 0.2em;
            padding: 0.6em;
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                color: $clr__primary;
                background-color: rgb(255, 255, 255);
            }
        }
    }

    &__info {
        margin: 1em;

        .info {
            &__description {
                font-size: 0.9em;
            }

            &__head {
                font-size: 1.1em;
                color: white;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: row;

        >div {
            margin: 1em;
            width: 50%;
        }

        .links {
            &__head{
                font-size: 1.1em;
                color: white;
                margin: 0%;
            }

            &__link {
                font-size: 0.9em;
                cursor: pointer;

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    &__copyright {
        font-size: 0.8em;
        color: rgb(190, 190, 190);
        border-top: 1px solid rgb(255, 255, 255);
        padding: 0.5em;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        font-size: 1.2em;

        &__description {
            display: flex;
            flex-direction: row;
        }
        &__brand {
            width: 50%;
        }
        &__info {
            width: 50%;
        }
    }

    @media screen and (min-width: 992px) {
        &__main {
            display: flex;
            justify-content: space-between;
        }
        &__description {
            width: 60%;
        }
        &__links {
            width: 40%;
        }
    }

    @media screen and (min-width: 1200px) {
        font-size: 1.25em;
    }
}