$clr__primary : #3a0ca3;

.resetPass {
    font-size: 1em;
    position: absolute;
    padding: 1.1em 1em 1em;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
    height: 100%;
    max-height: 22em;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    z-index: 100;
    box-sizing: border-box;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    &__input {
        width: 80%;
        margin: 0.6em 0;
    }

    &__btn {
        margin: 0.8em 0;
        width: 50%;
    }
}