$clr__primary : #3a0ca3;

.navbar {
    font-size: 1em;
    color: rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box;

    &-container {
        padding: 0.8em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0%;
        box-sizing: border-box;
    }

    &__logo {
        font-size: 1.8em;
        font-weight: bolder;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

        span {
            color: $clr__primary;
        }
    }

    &__toggler { 
        display: flex;
        font-size: 2.2em;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        transform:rotate(-90deg);
    }

    &__items {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__toggler { 
            display: none;
        }

        &__items {
            font-size: 1.1em;
            list-style: none;
            text-align: right;
            width: 50%;
            margin: 0.8em 0;
            display: flex;
            justify-content: flex-end;
        }
    
        &__link {
            margin: auto;
            font-weight: bold;
            cursor: pointer;

            &--btn {
                color: rgb(255, 255, 255);
                background-color: $clr__primary;
                border: 2px solid $clr__primary;
                padding: 0.3em 1em;
                font-weight: bold;
                border-radius: 50px;

                &:hover {
                    color: $clr__primary;
                    border: 2px solid $clr__primary;
                    background-color: rgb(255, 255, 255);
                }
            }
    
            &--icon {
                font-size: 1.2em;
                width: 0.9em;
                height: 0.9em;
                border: 1px solid $clr__primary;
                padding: 0.3em;
                border-radius: 50%;
                overflow: visible;
            }
        }
    }

    @media screen and (min-width: 992px) {
        font-size: 1.1em;

        &__items {
            width: 50%;
        }
    }

    @media screen and (min-width: 1200px) {
        font-size: 1.15em;

        &__items {
            width: 45%;
        }
    }
}
