$clr__primary : #3a0ca3;

.Authentication-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    z-index: 1000;
}
.auth {
    font-size: 1em;
    position: relative;
    padding: 15px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    overflow-y: auto;
    
    -ms-overflow-style: none;  /* IE*/
    scrollbar-width: none; /* firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    &__close-icon {
        transform: rotate(45deg);
        float: right;
        padding: 1px;
    }

    &__txt {
        color: rgb(0, 0, 0);
        margin: 20px auto 00px;

        &--top {
            width: 70%;
            position: relative;
            &::before {
                content: '';
                border: 1px solid rgb(207, 207, 207);
                position: absolute;
                width: 50%;
                top: 8px;
                left: -30px;
            }
            &::after {
                content: '';
                border: 1px solid rgb(207, 207, 207);
                position: absolute;
                width: 50%;
                top: 8px;
                right: -30px;
            }
        }

        &--bottom {
            margin: 0px auto;
        }
    }

    &__social-icon {
        font-size: 1.5em;
        border: 1px solid #000;
        width: 16px;
        height: 16px;
        padding: 12px;
        overflow: visible;
        border-radius: 50%;
        margin: 0 5px;

        &:hover {
            color: #fff;
            background-color: $clr__primary;
            border-color: $clr__primary;
        }
    }

    &__input {
        width: 80%;
        margin: 10px 0;
    }

    &__btn {
        margin: 15px auto;
        width: 80%;
    }
}